body {
	font-style: italic;
	text-align: center;
}

P {
	color: purple;
	background: pink;
	font-style: large;
	text-align: center;
}
.Class_A {
color: purple;
}

.Class_B {
color: blue;
}

.Class_C {
color: Green;
}