table {
	border: 1px solid silver;
}

td:hover {
	background-color:pink;
	color: black;
}

tr, th {
	background-color: hotpink;
	color: white;
}

tr, td {
	background-color: black;	
	color: cornsilk;
}